@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.header-top-icon {
  font-size: 30px;
  color: white;
  position: fixed;
  right: 0;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100px;
}

.header-top ul {
  position: fixed;
  right: 0;
  top: 100px;
}

.header-top ul li {
  margin: 20px;
  background-color: black;
  padding: 10px;
  -webkit-transition: 2s;
  transition: 2s;
}

.header-top ul li a {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.header-content {
  width: 50vw;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
}

.header-content p {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.header-content p:hover {
  color: red;
}

.header-content .content-form {
  margin: 350px 0px;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
}

.header-content .content-form:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.header-content select {
  width: 200px;
  height: 30px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.header-content select:hover {
  color: black;
}

.header-content input {
  width: 200px;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.header-content button {
  width: 150px;
  height: 50px;
  color: white;
  margin: auto 0;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.header-content button:hover {
  color: red;
}

img {
  width: 100%;
  height: 100%;
}

.form-login {
  width: 350px;
  font-size: 24px;
  margin: 10px auto;
  background-color: #7ce4e4;
  z-index: 100;
  padding-bottom: 10px;
  line-height: 30px;
}

.form-login-infor {
  padding: 20px;
}

.form-login-infor a {
  font-size: 14px;
}

.form-login-infor h3 {
  margin: 0;
}

.form-login-infor input {
  width: 90%;
  height: 30px;
  font-size: 20px;
  margin-top: 20px;
}

.form-login-infor a {
  font-style: italic;
}

.form-login-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.form-login-btn button {
  font-size: 22px;
  height: 30px;
  width: 150px;
  background-color: #7ce4e4;
}

.form-login-brands {
  color: white;
}

.form-login-brands-facebook {
  background-color: blue;
  margin: 10px;
  color: white;
}

.form-login-brands-facebook a {
  color: white;
}

.form-login-brands-google {
  background-color: red;
  margin: 10px;
  color: white;
}

.form-login-brands-google a {
  color: white;
}
/*# sourceMappingURL=Style_DA-cuoikhoa.css.map */